button[data-testid="flowbite-dropdown-target"] {
  border: 1px solid #a0acbd !important;
  padding-top: 1px;
  border-radius: 4px;
}

.custom-dropdown-button > button[data-testid="flowbite-dropdown-target"] {
  background-color: #1f6293;
  padding: 3px !important;
  border: none !important;
}

.custom-dropdown-button > button[data-testid="flowbite-dropdown-target"] svg {
  color: white !important;
}

.session-dropdown-button > button[data-testid="flowbite-dropdown-target"] {
  padding: 3px;
  border-radius: 4px;
}

.custom-dropdown-item {
  color: black;
}

.schedule-dropdown-button > button[data-testid="flowbite-dropdown-target"] {
  padding: 7px;
  border-radius: 4px;
}